# HW2
## Wen-Hsuan Hung

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('NY property data.csv')
data.head()

,RECORD,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

In [3]:
data.shape

(1070994, 32)

In [4]:
data.head()

,RECORD,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,BLDFRONT,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE
0,1,1000010101,1,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,500,...,0,0,3775500.0,8613000.0,3775500.0,8613000.0,NaN,FINAL,2010/11,AC-TR
1,2,1000010201,1,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,27,...,0,0,11111400.0,80690400.0,11111400.0,80690400.0,NaN,FINAL,2010/11,AC-TR
2,3,1000020001,1,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,709,...,709,564,32321790.0,40179510.0,32321790.0,40179510.0,NaN,FINAL,2010/11,AC-TR
3,4,1000020023,1,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,793,...,85,551,13644000.0,15750000.0,13644000.0,15750000.0,NaN,FINAL,2010/11,AC-TR
4,5,1000030001,1,3,1,NaN,PARKS AND RECREATION,Q1,4,323,...,89,57,106348680.0,107758350.0,106348680.0,107758350.0,NaN,FINAL,2010/11,AC-TR

# Cleaning the NY Data

## STEP 1: List of Owner Names to Remove

In [5]:
remove_list = data['OWNER'].value_counts().head(20).index.to_list()
remove_list

['PARKCHESTER PRESERVAT',
 'PARKS AND RECREATION',
 'DCAS',
 'HOUSING PRESERVATION',
 'CITY OF NEW YORK',
 'DEPT OF ENVIRONMENTAL',
 'BOARD OF EDUCATION',
 'NEW YORK CITY HOUSING',
 'CNY/NYCTA',
 'NYC HOUSING PARTNERSH',
 'YORKVILLE TOWERS ASSO',
 'DEPARTMENT OF BUSINES',
 'DEPT OF TRANSPORTATIO',
 'MTA/LIRR',
 'PARCKHESTER PRESERVAT',
 'MH RESIDENTIAL 1, LLC',
 '434 M LLC',
 'LINCOLN PLAZA ASSOCIA',
 'DEUTSCHE BANK NATIONA',
 '561 11TH AVENUE TMG L']

In [6]:
# remove some of these and add some others to also be removed
remove_list.remove('YORKVILLE TOWERS ASSO')
remove_list.remove('434 M LLC')
remove_list.remove('DEUTSCHE BANK NATIONA')
remove_list.remove('561 11TH AVENUE TMG L')
remove_list.append('UNITED STATES OF AMER')
remove_list.append('U S GOVERNMENT OWNRD')
remove_list.append('THE CITY OF NEW YORK')
remove_list.append('NYS URBAN DEVELOPMENT')
remove_list.append('NYS DEPT OF ENVIRONME')
remove_list.append( 'CULTURAL AFFAIRS')
remove_list.append('DEPT OF GENERAL SERVI')
remove_list.append('DEPT RE-CITY OF NY')
remove_list.append('NY STATE PUBLIC WORKS')
remove_list.append('NYC DEPT OF HIGHWAYS')
remove_list.append("NYC DEP'T OF HIGHWAYS")
remove_list.append('CITY WIDE ADMINISTRAT')
remove_list.append('DEPT OF PUBLIC WORKS')
remove_list.append( 'NEW YORK CITY')
remove_list.append('THE PORT OFNY & NJ')
remove_list.append('NYC DEPT OF PUB WORKS')
remove_list.append('NEW YORK STATE DEPART')
remove_list.append('CITY AND NON-CITY OWN')

In [7]:
property_data = data[-data['OWNER'].isin(remove_list) ].reset_index(drop=True)
property_data.shape

(1046516, 32)

In [8]:
data.shape

(1070994, 32)

In [9]:
len(data) - len(property_data)

24478

## STEP 2: Fill in the Missing ZIPs

In [10]:
property_data['ZIP'].value_counts()

10314.0    24546
11234.0    19974
10312.0    18039
10306.0    16520
11236.0    15642
           ...
10048.0        1
11005.0        1
11352.0        1
11371.0        1
11241.0        1
Name: ZIP, Length: 195, dtype: int64

In [11]:
# How many zips are missing? replace NaN wit 0 and count them.
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

21537

In [12]:
for i in range(len(missing_zips)):
    if (property_data.loc[missing_zips[i]+1, 'ZIP']== property_data.loc[missing_zips[i]-1, 'ZIP']):
        property_data.loc[missing_zips[i], 'ZIP'] = property_data.loc[missing_zips[i]-1, 'ZIP']

In [13]:
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

10114

In [14]:
# for the remaining missing zips, just fill in with the previous record's zip
for i in range(len(missing_zips)):
    property_data.loc[missing_zips[i], 'ZIP'] = property_data.loc[missing_zips[i]-1, 'ZIP']

In [15]:
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

0

## STEP 3: Fill in Missing FULLVAL, AVLAND, AVTOT

In [16]:
property_data['FULLVAL'] = property_data['FULLVAL'].replace('NaN', 0)
temp = property_data[property_data['FULLVAL']!= 0]
mean_fullval = temp.groupby("TAXCLASS")['FULLVAL'].mean()
print(mean_fullval)

TAXCLASS
1     5.700050e+05
1A    3.352942e+05
1B    3.741718e+05
1C    7.615359e+05
1D    2.233614e+07
2     8.005832e+05
2A    8.639066e+05
2B    1.254525e+06
2C    7.723556e+05
3     8.510005e+04
4     2.713604e+06
Name: FULLVAL, dtype: float64

In [17]:
property_data['AVLAND'] = property_data['AVLAND'].replace('NaN',0)
temp_avland = property_data[property_data['AVLAND']!=0]
mean_avland = temp_avland.groupby('TAXCLASS')['AVLAND'].mean()

In [18]:
property_data['AVTOT'] = property_data['AVTOT'].replace('NaN',0)
temp_avtot = property_data[property_data['AVTOT']!=0]
mean_avtot = temp_avtot.groupby('TAXCLASS')['AVTOT'].mean()

In [19]:
# substituting decent values for AVTOT, AVLAND, FULLVAL from averages by taxclass
# %%time
for index in mean_fullval.index:
    property_data.loc[(property_data['FULLVAL']==0) & (property_data['TAXCLASS']==index), 'FULLVAL'] = mean_fullval[index]
    property_data.loc[(property_data['AVLAND']==0) & (property_data['TAXCLASS']==index), 'AVLAND'] = mean_avland[index]
    property_data.loc[(property_data['AVTOT']==0) & (property_data['TAXCLASS']==index), 'AVTOT'] = mean_avtot[index]

## STEP 4: Fill in Missing STORIES

In [20]:
mean_stories = property_data.groupby('TAXCLASS')['STORIES'].mean()

property_data['STORIES'] = property_data['STORIES'].fillna(value = 0)
for index in mean_stories.index:
    property_data.loc[(property_data['STORIES'] == 0) & (property_data['TAXCLASS'] == index), 'STORIES'] = mean_stories[index]

In [21]:
property_data[property_data['STORIES'] == 0].shape[0]

0

## STEP 5: Fill in LTFRONT, LTDEPTH, BLDFRONT, BLDDEPTH

In [22]:
# as these 4 values do not have NAs, we need to replace 0s. 
# calculate groupwise average. First replace the 0’s and 1’s by NAs so they are not counted in calculating mean.
property_data.loc[property_data['LTFRONT']==0,'LTFRONT']=np.nan
property_data.loc[property_data['LTDEPTH']==0,'LTDEPTH']=np.nan
property_data.loc[property_data['BLDFRONT']==0,'BLDFRONT']=np.nan
property_data.loc[property_data['BLDDEPTH']==0,'BLDDEPTH']=np.nan

property_data.loc[property_data['LTFRONT']==1,'LTFRONT']=np.nan
property_data.loc[property_data['LTDEPTH']==1,'LTDEPTH']=np.nan
property_data.loc[property_data['BLDFRONT']==1,'BLDFRONT']=np.nan
property_data.loc[property_data['BLDDEPTH']==1,'BLDDEPTH']=np.nan

# calculate the mean now (mean function ignores NAs but not 0s hence we converted 0 to NA)
mean_LTFRONT=property_data.groupby(property_data['TAXCLASS'])['LTFRONT'].mean()
mean_LTDEPTH=property_data.groupby(property_data['TAXCLASS'])['LTDEPTH'].mean()
mean_BLDFRONT=property_data.groupby(property_data['TAXCLASS'])['BLDFRONT'].mean()
mean_BLDDEPTH=property_data.groupby(property_data['TAXCLASS'])['BLDDEPTH'].mean()

# impute values
for index in mean_LTFRONT.index:
    property_data.loc[(property_data['LTFRONT'].isnull())&(property_data['TAXCLASS']==index),'LTFRONT']=mean_LTFRONT[index]
    property_data.loc[(property_data['LTDEPTH'].isnull())&(property_data['TAXCLASS']==index),'LTDEPTH']=mean_LTDEPTH[index]
    property_data.loc[(property_data['BLDFRONT'].isnull())&(property_data['TAXCLASS']==index),'BLDFRONT']=mean_BLDFRONT[index]
    property_data.loc[(property_data['BLDDEPTH'].isnull())&(property_data['TAXCLASS']==index),'BLDDEPTH']=mean_BLDDEPTH[index]

# Calculate 90 Fraud Algorithm Variables

In [23]:
# Convert ZIP to an integer rather than a float
property_data['ZIP'] = property_data['ZIP'].astype(str)
property_data['zip3'] = property_data['ZIP'].str[:3]

property_data['ltsize'] = property_data["LTFRONT"] * property_data['LTDEPTH']
property_data['bldsize'] = property_data["BLDFRONT"] * property_data['BLDDEPTH']
property_data['bldvol'] = property_data["bldsize"] * property_data['STORIES']

property_data['r1'] = property_data['FULLVAL'] / property_data['ltsize']
property_data['r2'] = property_data['FULLVAL'] / property_data['bldsize']
property_data['r3'] = property_data['FULLVAL'] / property_data['bldvol']
property_data['r4'] = property_data['AVLAND'] / property_data['ltsize']
property_data['r5'] = property_data['AVLAND'] / property_data['bldsize']
property_data['r6'] = property_data['AVLAND'] / property_data['bldvol']
property_data['r7'] = property_data['AVTOT'] / property_data['ltsize']
property_data['r8'] = property_data['AVTOT'] / property_data['bldsize']
property_data['r9'] = property_data['AVTOT'] / property_data['bldvol']

In [24]:
property_data.columns[36:]

Index(['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9'], dtype='object')

In [25]:
for col in property_data.columns[36:]:
    property_data[col+'inv'] = 1 / (property_data[col])

In [26]:
vars18 = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9',
         'r1inv', 'r2inv', 'r3inv', 'r4inv', 'r5inv', 'r6inv', 'r7inv', 'r8inv', 'r9inv']
zip5_mean = property_data.groupby("ZIP")[vars18].mean()
zip3_mean = property_data.groupby("zip3")[vars18].mean()
taxclass_mean = property_data.groupby("TAXCLASS")[vars18].mean()
borough_mean = property_data.groupby("BORO")[vars18].mean()
property_data = property_data.join(zip5_mean, on = "ZIP", rsuffix = '_zip5')
property_data = property_data.join(zip3_mean, on = "zip3", rsuffix = '_zip3')
property_data = property_data.join(taxclass_mean, on = "TAXCLASS", rsuffix = '_taxclass')
property_data = property_data.join(borough_mean, on = "BORO", rsuffix = '_boro')
rsuffix = ["_zip5", "_zip3", "_taxclass", "_boro"]
for var in vars18:
    for r in rsuffix:
        property_data[str(var)+r] = property_data[var] / property_data[str(var)+r]

In [27]:
property_data.columns

Index(['RECORD', 'BBLE', 'BORO', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT',
       ...
       'r9_boro', 'r1inv_boro', 'r2inv_boro', 'r3inv_boro', 'r4inv_boro',
       'r5inv_boro', 'r6inv_boro', 'r7inv_boro', 'r8inv_boro', 'r9inv_boro'],
      dtype='object', length=126)

# Calculate the Basic Statistical Properties of 90 Variables

In [28]:
variables = property_data[property_data.columns[36:]]
stats = variables.describe().T
stats.head(20)

,count,mean,std,min,25%,50%,75%,max
r1,1046516.0,213.503808,528.509868,0.000392,76.375353,152.916667,243.200000,135680.195265
r2,1046516.0,536.237504,1015.743970,0.000747,212.235545,500.000000,683.891491,310742.524961
r3,1046516.0,243.931653,486.583927,0.000090,82.741261,239.102564,336.257310,227500.000000
r4,1046516.0,10.453704,69.427805,0.000008,2.356020,4.598000,7.225959,22032.314558
r5,1046516.0,22.710592,373.449262,0.000210,6.215246,14.983333,20.287152,334842.138488
r6,1046516.0,9.972084,173.490209,0.000010,2.021085,7.148054,10.043885,111614.046163
r7,1046516.0,26.785106,201.622470,0.000008,5.284000,8.581667,13.528964,63386.622397
r8,1046516.0,50.329579,930.162498,0.000306,17.478683,26.980501,36.003636,871898.008737
r9,1046516.0,18.980834,323.424616,0.000060,7.100314,12.679808,17.575758,290632.669579
r1inv,1046516.0,0.111186,5.643281,0.000007,0.004112,0.006540,0.013093,2551.009064
r2inv,1046516.0,0.073379,2.927043,0.000003,0.001462,0.002000,0.004712,1338.547886
r3inv,1046516.0,0.810649,29.198504,0.000004,0.002974,0.004182,0.012086,11131.650780
r4inv,1046516.0,1.823449,122.792905,0.000045,0.138390,0.217486,0.424445,120000.000000
r5inv,1046516.0,1.038459,22.354796,0.000003,0.049292,0.066741,0.160895,4770.707477
r6inv,1046516.0,13.125521,386.023283,0.000009,0.099563,0.139898,0.494784,96336.094733
r7inv,1046516.0,0.559795,118.129439,0.000016,0.073915,0.116527,0.189251,120000.000000
r8inv,1046516.0,0.336129,8.156212,0.000001,0.027775,0.037064,0.057213,3265.333333
r9inv,1046516.0,2.405035,57.099287,0.000003,0.056897,0.078866,0.140839,16530.973214
r1_zip5,1046516.0,1.000000,2.140481,0.000002,0.462543,0.916333,1.230408,732.978917
r2_zip5,1046516.0,1.000000,2.105674,0.000001,0.439893,0.962751,1.260441,658.683217

In [30]:
stats.to_excel("HW2_output.xlsx")